body {
    font-family: 'Arial', sans-serif; /* Modifica per utilizzare font di sistema */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #FF9F41, #DB6E04);
    flex-direction: column;
    overflow: hidden;
}

#landing-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

#welcome-message {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

#welcome-message:hover {
    transform: scale(1.1);
}

#enter-chat-button {
    padding: 10px 20px;
    background: #FF9F41;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#enter-chat-button:hover {
    background: #DB6E04;
    transform: scale(1.1);
}

#login-container, #waiting-container, #chat-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif; /* Modifica per utilizzare font di sistema */
    position: relative;
}

#chat-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    height: 80vh;
    flex-direction: column;
    overflow: hidden;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    max-height: calc(80vh - 100px);
    scrollbar-width: none;
}

#messages::-webkit-scrollbar {
    display: none;
}

#messages li {
    padding: 8px;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Modifica per utilizzare font di sistema */
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    font-size: 18px;
}

#form {
    display: flex;
    padding-top: 10px;
}

#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-family: 'Arial', sans-serif; /* Modifica per utilizzare font di sistema */
    box-sizing: border-box;
    font-size: 18px;
}

button {
    padding: 10px;
    background: #FF9F41;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* Modifica per utilizzare font di sistema */
    font-size: 18px;
}

button:hover {
    background: #DB6E04;
}

.username-span {
    margin-right: 8px;
}

.sent .message-content {
    background-color: #ffe6cc;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 0;
    max-width: 80%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}

.received .message-content {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: auto;
    margin-left: 0;
    max-width: 80%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}

.admin .message-content {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: auto;
    margin-left: 0;
    max-width: 80%;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}

.system-message {
    font-style: italic;
    color: gray;
    text-align: center;
    width: 100%;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#waiting-message {
    font-size: 30px;
    animation: pulse 2s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#instagram-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: contain;
    z-index: 1000;
}

#instagram-icon:hover {
    transform: scale(1.1);
}

#mano {
    width: 100.24%;
    height: auto;
    position: absolute;
    bottom: -222.24px;
    animation: hand-raise 2s forwards;
}

@keyframes hand-raise {
    to {
        bottom: -8px;
    }
}

@media (min-width: 600px) {
    #mano {
        width: 177.79%;
        bottom: -177.79px;
    }
}

@media (min-width: 1024px) {
    #mano {
        width: 120.67%;
        bottom: -106.67px;
    }
}

#disconnect-user-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #FF0000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    display: block;
}

#disconnect-user-button:hover {
    background: #CC0000;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    #messages li {
        font-size: 16px;
    }

    .message-content {
        padding: 5px;
    }
}
